<html>
<head>Address Adder</head>
<body>
  <div>
    <h1>Add New Address</h1>
    <form action='/capture_data' id="addressForm">
      Username: <input type="text" name="username"/><br/>
      Address: <input type="text" name="name"/><br/>
      Address 2: <input type="text" name="name2"/><br/>
      City: <input type="text" name="city"/><br/>
      State: <select name="state"/>
        <option value="CA">California</option>
        <option value="OR">Oregon</option>
        <option value="WA">Washington</option>
        <option value="PA">Pennsylvania</option>
      </select><br/>
      Zip Code: <input type="number" size="5" name="zipcode" id="zipcode"/><br/>
      Billing address? 
      Y: <input type='radio' name='is_billing' value='true'> 
      N: <input type='radio' name='is_billing' value='false'><br/>
      <input type="submit" id="submit"/>
    </form>
  </div>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="./static/script.js"></script>
</body>
</html>
